.*

!.github
!.gitignore

*.rom
/roms/*

*.py[cod]
*~

# C extensions
*.so

# Packages
*.egg
*.egg-info/*
/dist/*
build
build.log
eggs
parts
bin
var
sdist
develop-eggs
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
/htmlcov/*

# Translations
*.mo

/publish.log
/coverage.xml
