include AUTHORS LICENSE MANIFEST.in README.creole
recursive-exclude * *.py[co]
recursive-include * *.creole
recursive-include * *.bas
recursive-include * *.sha1
recursive-include * *.cmd
recursive-include * *.sh